@import url("https://fonts.googleapis.com/css?family=Lato:300,400&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&subset=latin-ext");
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */ }

html, body, nuts {
  height: 100%;
  width: 100%; }

div.login {
  height: 100%;
  width: 100%;
  background-color: #e9e9e9; }
  div.login .login-title {
    padding: 50px 0;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300; }
  div.login .login-container {
    position: relative;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #303F9F;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto; }
    div.login .login-container .form {
      display: block;
      padding: 40px; }
      div.login .login-container .form .login-message {
        border: 1px solid;
        margin: 0px 0px 20px 0px;
        padding: 10px;
        font-size: 13px;
        font-weight: bold;
        display: none; }
        div.login .login-container .form .login-message.error {
          background-color: #f2dede;
          color: #a94442;
          border-color: #a94442; }
        div.login .login-container .form .login-message.warning {
          background-color: #fcf8e3;
          color: #8a6d60;
          border-color: #8a6d60; }
        div.login .login-container .form .login-message.info {
          background-color: #d9edf7;
          color: #31708f;
          border-color: #31708f; }
        div.login .login-container .form .login-message.success {
          background-color: #dff0d8;
          color: #3c7665;
          border-color: #3c7665; }
      div.login .login-container .form h2 {
        margin: 0 0 20px;
        color: #303F9F;
        font-size: 18px;
        font-weight: 400;
        line-height: 1; }
      div.login .login-container .form input[type=text], div.login .login-container .form input[type=password] {
        outline: none;
        display: block;
        width: 100%;
        border: 1px solid #d3d3d3;
        margin: 0 0 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-wieght: 400; }
      div.login .login-container .form input[type=submit] {
        cursor: pointer;
        background: #303F9F;
        width: 100%;
        border: 0;
        padding: 10px 15px;
        color: #ffffff; }
        div.login .login-container .form input[type=submit]:hover {
          background: #3949AB; }

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */ }

html, body, nuts {
  height: 100%;
  width: 100%; }

div.dashboard {
  height: 100%;
  width: 100%; }
  div.dashboard .leaflet-routing-container {
    display: none !important; }
  div.dashboard .container {
    position: relative;
    height: 100%;
    width: 100%; }
    div.dashboard .container .menu {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0; }
      div.dashboard .container .menu.left-menu {
        left: 0;
        width: 15%;
        background-color: #303F9F; }
        div.dashboard .container .menu.left-menu .profile-info {
          width: 100%;
          display: inline-flex; }
          div.dashboard .container .menu.left-menu .profile-info .profile-pic {
            height: 70px;
            width: 70px;
            order: 0;
            overflow: hidden;
            background-size: cover;
            background-image: url(assets/images/default_driver.jpg);
            background-position: center center;
            margin: 20px 20px 20px 20px;
            border-radius: 50%; }
          div.dashboard .container .menu.left-menu .profile-info .profile-text {
            color: #ffffff;
            order: 1;
            display: inline-flex;
            flex-direction: column;
            align-items: right;
            justify-content: center; }
            div.dashboard .container .menu.left-menu .profile-info .profile-text h1 {
              order: 0;
              font-size: 11pt; }
            div.dashboard .container .menu.left-menu .profile-info .profile-text h3 {
              order: 1;
              font-size: 9pt;
              font-weight: 300; }
        div.dashboard .container .menu.left-menu .tab-container {
          width: 100%;
          display: inline-flex; }
          div.dashboard .container .menu.left-menu .tab-container .tab {
            width: 50%;
            order: 0;
            color: #ffffff;
            padding: 10px; }
            div.dashboard .container .menu.left-menu .tab-container .tab p {
              text-align: center; }
            div.dashboard .container .menu.left-menu .tab-container .tab.active {
              background-color: #3949AB; }
            div.dashboard .container .menu.left-menu .tab-container .tab:hover {
              background-color: #3949AB;
              cursor: pointer; }
        div.dashboard .container .menu.left-menu .tab-contents-container {
          width: 100%;
          min-height: 100px;
          display: inline-flex; }
          div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container {
            display: block;
            width: 100%;
            overflow: auto;
            overflow-x: hidden;
            display: inline-flex;
            flex-direction: column; }
            div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle {
              width: 100%;
              display: inline-flex;
              padding: 5px 5px 10px 5px;
              margin: 0px 0px 5px 0px; }
              div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle .vehicle-pic {
                height: 75px;
                width: 75px;
                order: 0;
                background-size: cover;
                background-position: center center;
                border-radius: 50%;
                float: left; }
                div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle .vehicle-pic .driver-pic {
                  height: 30px;
                  width: 30px;
                  margin: 50px 0px 0px 50px;
                  background-size: cover;
                  background-position: center center;
                  background-image: url(assets/images/default_driver.jpg);
                  border: 1px dashed #d3d3d3;
                  border-radius: 50%;
                  float: left; }
              div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle .vehicle-text {
                padding: 0px 0px 0px 15px;
                order: 1;
                display: inline-flex;
                flex-direction: column;
                align-items: right;
                justify-content: center; }
                div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle .vehicle-text p {
                  color: #ffffff; }
                div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle .vehicle-text .vehicle-name {
                  font-size: 15pt; }
                div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle .vehicle-text .vehicle-vintage, div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle .vehicle-text .vehicle-status {
                  font-size: 8pt;
                  margin: 2px 0px 0px 0px; }
                div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle .vehicle-text .driver-name {
                  margin: 4px 0px 0px 0px;
                  font-size: 11pt; }
              div.dashboard .container .menu.left-menu .tab-contents-container .vehicle-container .vehicle:hover {
                cursor: pointer;
                background: #3949AB; }
          div.dashboard .container .menu.left-menu .tab-contents-container .staff-container {
            display: block;
            width: 100%;
            overflow: auto;
            overflow-x: hidden;
            display: inline-flex;
            flex-direction: column; }
            div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff {
              width: 100%;
              display: inline-flex;
              padding: 5px 5px 10px 5px;
              margin: 0px 0px 5px 0px; }
              div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff .staff-pic {
                height: 75px;
                width: 75px;
                order: 0;
                background-size: cover;
                background-image: url(assets/images/default_driver.jpg);
                background-position: center center;
                border-radius: 50%;
                float: left; }
                div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff .staff-pic .vehicle-pic {
                  height: 30px;
                  width: 30px;
                  margin: 50px 0px 0px 50px;
                  background-size: cover;
                  background-position: center center;
                  background-image: url(assets/images/default_driver.jpg);
                  border: 1px dashed #d3d3d3;
                  border-radius: 50%;
                  float: left; }
              div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff .staff-text {
                padding: 0px 0px 0px 15px;
                order: 1;
                display: inline-flex;
                flex-direction: column;
                align-items: right;
                justify-content: center; }
                div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff .staff-text p {
                  color: #ffffff; }
                div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff .staff-text .staff-name {
                  font-size: 15pt; }
                div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff .staff-text .staff-vintage, div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff .staff-text .staff-status {
                  font-size: 8pt;
                  margin: 2px 0px 0px 0px; }
                div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff .staff-text .driver-name {
                  margin: 4px 0px 0px 0px;
                  font-size: 11pt; }
              div.dashboard .container .menu.left-menu .tab-contents-container .staff-container .staff:hover {
                cursor: pointer;
                background: #3949AB; }
      div.dashboard .container .menu.right-menu {
        right: 0%;
        width: 15%;
        z-index: 1000;
        overflow: hidden; }
        div.dashboard .container .menu.right-menu .right-inner {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 100%;
          background-color: #303F9F; }
    div.dashboard .container .main {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 15%;
      width: 85%;
      float: left;
      z-index: 1; }

/*# sourceMappingURL=main.css.map */
