$width: 15;
$main: 100 - $width;

$bar_color: #303F9F;
$bar_hover: #3949AB;

$white: #ffffff;
$black: #000000;
$alto: #d3d3d3;
$mercury: #e9e9e9;

$error_bg: #f2dede;
$error_line: #a94442;

$warning_bg: #fcf8e3;
$warning_line: #8a6d60;

$info_bg: #d9edf7;
$info_line: #31708f;

$success_bg: #dff0d8;
$success_line: #3c7665;
