@import "../Sass/_variables.scss";
@import "../Sass/_general.scss";

.menu {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;

    &.right-menu {
        .right-inner {
            width: 100%;
            height: 100%;
            background-color: $bar_hover;

            position: absolute;

            z-index: 1001;

            img.close {
                height: 48px;
                width: 48px;

                position: absolute;
                right: 0px;

                margin: 10px;

                cursor: pointer;
            }
        }
    }
}