<div class="main" id="truckster_map">
    <leaf-element [zoom]=11 [layerControl]=true>
        <layer-element [name]="'openstreetmap'" [type]="'basemap'" [slippyLayer]="'http://b.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png'"></layer-element>
        
        <polyline-element [onclick]="'hello I am a polyline'" [latlngs]="route_array"></polyline-element>

        <leaflet-group>
            <marker-element [iconUrl]="'http://127.0.0.1:3000/custom-marker.png'" [lat]=57.012048 [lon]=9.991264 [onclick]="'custom icon'"></marker-element>
            <marker-element [iconUrl]="'http://127.0.0.1:3000/custom-marker.png'" [lat]=57.018492 [lon]=9.992230 [onclick]="'custom icon'"></marker-element>
        </leaflet-group>
    </leaf-element>
</div>