@import "../Sass/_variables.scss";
@import "../Sass/_general.scss";

.main {
    height: 100%;
    width: calc(100% - 300px);

    position: absolute;
    left: 300px;
    float: left;
    z-index: 1;

    .map-container {
        width:100px;
        height: 100px;
    }
}
