@import "../Sass/_variables.scss";
@import "../Sass/_general.scss";

.staff-container {
    .load-more {
        width: 100%;

        p {
            padding: 12px 0px 5px 0px;
            font-size: 25px;
            color: $white;
            text-align: center;
        }

        &:hover {
            cursor: pointer;
            background: $bar_hover;
        }
    }
}