<div class="dashboard">
    <div class="container">
        <div class="menu left-menu">
            <profile-info></profile-info>

            <div class="tab-container">
                <div *ngIf="currentVis == 'employees'" class="tab noselect active" (click)="clicked('employees')">
                    <p>Employees</p>
                </div>
                <div *ngIf="currentVis != 'employees'" class="tab noselect" (click)="clicked('employees')">
                    <p>Employees</p>
                </div>

                <div *ngIf="currentVis == 'vehicles'" class="tab noselect active" (click)="clicked('vehicles')">
                    <p>Vehicles</p>
                </div>
                <div *ngIf="currentVis != 'vehicles'" class="tab noselect" (click)="clicked('vehicles')">
                    <p>Vehicles</p>
                </div>
            </div>

            <div *ngIf="currentVis == 'vehicles'" class="tab-contents-container">
                <vehicle-container></vehicle-container>
            </div>

            <div *ngIf="currentVis == 'employees'" class="tab-contents-container">
                <employee-container></employee-container>
            </div>
        </div>
        
        <map></map>

        <right-menu></right-menu>
    </div>
</div>