<div class="dashboard">
    <div class="container">
        <div class="menu left-menu">
            <profile-info></profile-info>

            <div class="tab-container">
                <div *ngIf="currentVis == 'staff'" class="tab noselect active" (click)="clicked('staff')">
                    <p>Staff</p>
                </div>
                <div *ngIf="currentVis != 'staff'" class="tab noselect" (click)="clicked('staff')">
                    <p>Staff</p>
                </div>

                <div *ngIf="currentVis == 'vehicle'" class="tab noselect active" (click)="clicked('vehicle')">
                    <p>Vehicles</p>
                </div>
                <div *ngIf="currentVis != 'vehicle'" class="tab noselect" (click)="clicked('vehicle')">
                    <p>Vehicles</p>
                </div>
            </div>

            <div *ngIf="currentVis == 'vehicle'" class="tab-contents-container">
                <vehicle-container></vehicle-container>
            </div>

            <div *ngIf="currentVis == 'staff'" class="tab-contents-container">
                <staff-container></staff-container>
            </div>
        </div>
        
        <map></map>

        <right-menu></right-menu>
    </div>
</div>